* {
    padding: 0px;
    margin: 0px;
}

.blogs {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
}

.heading h1 {
    text-align: center;
    color: white;

}

.heading h1:hover {
    transform: translate(100px);
    color: rgb(25, 21, 16);
}

.form {

    color: white;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 42%;
    margin-top: 30px;
}

input {
    padding: 5px;
}

textarea {
    padding: 50px;
}

button {
    justify-content: center;
    padding: 15px;
    background-color: #7e4874;
    color: azure;
    margin: 20px 0px;
    cursor: pointer;

}

button:hover {
    background-color: rgb(32, 138, 102);
}

#form-submission h1 {
    color: #153677;
}

#form-submission {
    display: none;
    margin-top: 50px;
    margin-left: 300px;
}

#title-show,
#content-show {
    margin-bottom: 10px;
    white-space: pre-line;
}

#image-show,
#video-show {
    display: block;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}